# Seeded by Ansible, then owned by Authelia: a password changed from the portal
# is written back here.
users:
  daniel:
    disabled: false
    displayname: 'Daniel Midwood'
    password: '{{ authelia_password_hash }}'
    email: '{{ authelia_user_email }}'
    groups:
      - admins
