{
  "//": "Managed by Ansible. Settings in this file are read-only in Immich's",
  "//2": "admin interface.",
  "oauth": {
    "enabled": true,
    "issuerUrl": "{{ authelia_url }}/.well-known/openid-configuration",
    "clientId": "immich",
    "clientSecret": "{{ authelia_client_secret.immich }}",
    "scope": "openid email profile",
    "signingAlgorithm": "RS256",
    "profileSigningAlgorithm": "none",
    "storageLabelClaim": "preferred_username",
    "buttonText": "Sign in with Authelia",
    "autoRegister": true,
    "autoLaunch": false,
    "mobileOverrideEnabled": false,
    "mobileRedirectUri": ""
  },
  "passwordLogin": {
    "enabled": false
  }
}
