RESTIC_REPOSITORY=s3:https://{{ backup_b2_endpoint }}/{{ backup_b2_bucket }}
RESTIC_PASSWORD={{ backup_restic_password }}
AWS_ACCESS_KEY_ID={{ backup_b2_key_id }}
AWS_SECRET_ACCESS_KEY={{ backup_b2_application_key }}
